<div>

    <div class="logo-block">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" width="64" height="64"/>
            <h1>Онлайн Магазин "Спецодежда"</h1>
        </a>
        <hr/>
    </div>

    <span class="store-block">
        <a th:href="@{/catalog}">Каталог</a>
        <a th:href="@{/cart}">Корзина</a>
    </span>

    <span class="auth-block">
        <div th:if="${auth}">
            <form id="logoutForm" method="post" th:action="@{/logout}"></form>
            <span>Добро пожаловать </span>
            <span th:text="${fullName}">Auth</span>
            <br>
            <a onclick="document.getElementById('logoutForm').submit()" href="#">Выход</a><hr/>
        </div>
        <span th:if="${!auth}">
            <a th:href="@{/registration}">Регистрация</a>
            <a th:href="@{/registration/login}">Авторизация</a>
        </span>
    </span>

    <hr/>
</div>