<div class="header-block">
    <div class="logo-block">
        <a class="link" th:href="@{/}">
            <img th:src="@{/images/logo.png}" width="64" height="64"/>
            <h1>Онлайн Магазин "Спецодежда"</h1>
        </a>
    </div>
    <hr/>
    <div class="auth-block">
        <div th:if="${pageData.isAuthenticated()}">
            <form id="logoutForm" method="post" th:action="@{/logout}"></form>
            <span>Добро пожаловать </span>
            <span th:text="${pageData.getUser().getFullName()}">Auth</span>
            <br>
            <a class="link" onclick="document.getElementById('logoutForm').submit()" href="#">Выход</a>
        </div>
        <div th:if="${!pageData.isAuthenticated()}">
            <span>
                <a class="link" th:href="@{/auth/reg}">Регистрация</a>
                <a class="link" th:href="@{/auth/login}">Авторизация</a>
            </span>
        </div>
    </div>
    <hr/>
    <div class="store-block">
        <span>
            <a class="link" th:href="@{/store/catalog}">Каталог</a>
            <a class="link" th:href="@{/store/cart}">Корзина</a>
        </span>
    </div>
    <hr/>
</div>